---
import Cardsection from "../../components/Cardsection.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import Button from "../../components/Button.astro";
export async function getStaticPaths() {
  const url = "https://gdawlsaoddfuwhyjjcjf.supabase.co/rest/v1/forbrug";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkYXdsc2FvZGRmdXdoeWpqY2pmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5NTg1MDksImV4cCI6MjA4MTUzNDUwOX0.lB_NHH7Dy3hCjtvSWVWvLYE5HFJZvsyK0Rs33w6g3ng";

  const options = {
    headers: {
      apikey: key,
    },
  };
  const supaRequset = await fetch(url, options);
  const supaData = await supaRequset.json();

  return supaData.map((forbrug) => {
    return {
      params: { slug: forbrug.slug },
      props: { forbrug },
    };
  });
}

const { forbrug } = Astro.props;
---

<PageLayout>
  <h1 class="SK_intro"><b>Få et overblik over dit forbrug </b></h1>
  <div class="grid_5-2">
    <img class="SK_billede1-forbrug" src="/forbrug_billede.webp" alt="billede med pakke" />
    <div class="yellow-forbrug">
      <h3><b>{forbrug.stk} stykker tøj </b> om året kræver omkring <b>{forbrug.vand} liter vand </b> at producere.</h3>
      <br />
      <h3>Den mængde vand svarer til mere end {forbrug.badekar} fyldte badekar</h3>
    </div>
  </div>
  <h3 class="SK_intro">Modeindustrien står for det næststørste forbrug af vand i verden og er ansvarlig for 8-10 % af de globale CO2-udledninger.</h3>
  <p class="svanemaerke"><b>*svanemærket</b></p>
  <h2 class="SK_intro"><b>Hvad kan du gøre?</b></h2>

  <div class="grid_cardsection">
    <Cardsection variant="card-red" number="(01)" text="Lej,lån eller byt tøj i stedet for at købe nyt." />
    <Cardsection variant="card-yellow" number="(02)" text="Reparer og genbrug tøj for at forlænge levetiden." />
    <Cardsection variant="card-img" number="(03)" text="Vælg genbrugstøj, når det er muligt." />
    <Cardsection variant="card-blue" number="(04)" text="Køb kvalitet frem for kvantitet." />
  </div>
  <div class="knap_forbrugside">
    <a href="/">
      <Button variant="primary">TILBAGE TIL FORSIDEN</Button>
    </a>
  </div>
</PageLayout>
