---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
    <video width="100" height="auto" autoplay muted loop playsinline controls>
  <source src="/AOMØDEVIDEOSMAL.mp4"type="video/mp4">
    Din browser understøtter ikke video-tagget.
</video>
  <h1><b>AO mødet</b></h1>
  <p>Video-kampagnen er udformet med en mere useriøs tone-of-voice og et dynamisk udtryk. Formatet lægger op til at guide brugerne gennem forskellige aspekter af overforbrug. Forud for optagelserne er der udarbejdet idé, manuskript og overordnede rammer for kampagnen med fokus på sammenhæng mellem narrativ og budskab.</p>
</PageLayout>
