---
import PageLayout from "../layouts/PageLayout.astro";
import Button from "../components/Button.astro";
---

<PageLayout>
  <div class="video_card2">
    <div class="overlay_video2">
      <h1><b>AO mødet</b></h1>
    </div>
    <video class="ao_mobile" autoplay muted loop playsinline controls>
      <source src="/AOMØDEVIDEOSMAL.mp4" type="video/mp4" />
      Din browser understøtter ikke video-tagget.
    </video>

    <video class="ao_web" autoplay muted loop playsinline controls>
      <source src="/AOMØDEVIDEO.mp4" type="video/mp4" />
      Din browser understøtter ikke video-tagget.
    </video>
  </div>

  <div class="overlay_button_ao">
    <a href="https://www.youtube.com/watch?v=cbY9EsFuSPU" target="_blank">
      <Button variant="primary">SE HELE KAMPAGNEN </Button>
    </a>
  </div>

  <div class="ao_text">
    <h1><b>Forbrug med konsekvenser </b></h1>
    <p>Er overforbrug et seriøst misbrug? Det har i hvert fald seriøse konsekvenser. Der findes mange måder at bidrage til overforbrug på. Også måder, man i hverdagen ikke ville forbinde med det. Fra overdrevet køb af genbrug, til advisering af altid at skulle købe det nye og trendy. En fornuftig og simpel overvejelse at gøre sig, inden man køber noget, er at spørge sig selv "har jeg virkelig brug for det?"</p>
  </div>
</PageLayout>
