---
import PageLayout from "../layouts/PageLayout.astro";
import Button from "../components/Button.astro";
---

<PageLayout>
  <h1><b>Tag kontrollen over dit forbrug</b></h1>
  <h1>Planlæg, tænk dig om, og invester i det, der virkelig betyder noget.</h1>
  <h2>Så meget forbruger du?</h2>
  <h4>Hvad for en type er du?</h4>
</PageLayout>
