---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <section class="oo_section">
  <h1 class="oo_h1"><b>Om dankort</b></h1>
  <img class="oo_billede" src="/karrusel4.webP" alt="Spending Kills på rulletrappen">
  <p class="oo_p1">Dankort er en integreret del af danskernes hverdag og bruges dagligt til betaling i både fysiske butikker og online. Som en del af vores arbejde med ansvar og udvikling beskæftiger vi os også med forbrugsmønstre og overforbrug.</p>
  <p class="oo_p2">Gennem vores bæredygtighedsinitiativ sætter vi fokus på sammenhængen mellem betaling, adfærd og valg. Med udgangspunkt i data, viden og samarbejder undersøger vi, hvordan overforbrug kan synliggøres, og hvordan information kan understøtte mere bevidste beslutninger i betalingsøjeblikket.</p>
  </section>
</PageLayout>
