---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="SK_intro">
    <h1><b>Spending Kills</b></h1>
    <h2>En kampagne mod overforbrug</h2>
  </div>

  <p class="yellow">Spending kills er Dankorts kampagne, der sætter fokus på forbrugsvaner blandt unge og studerende. Inspireret af advarsler fra anti-rygekampagner bruger vi mærkater på pakker til at skabe et øjebliks refleksion i købsøjeblikket og åbne for en samtale om valg, prioriteringer og økonomisk bevidsthed.</p>

  <img class="SK_billede1" src="/forside1.webP" alt="" />
</PageLayout>
