---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="SK_intro">
    <h1><b>Spending Kills</b></h1>
    <h1>En kampagne mod overforbrug</h1>
  </div>

  <div class="grid_3-5">
    <div>
      <p class="yellow">Spending kills er Dankorts kampagne, der sætter fokus på forbrugsvaner blandt unge og studerende. Inspireret af advarsler fra anti-rygekampagner bruger vi mærkater på pakker til at skabe et øjebliks refleksion i købsøjeblikket og åbne for en samtale om valg, prioriteringer og økonomisk bevidsthed.</p>
      <img class="SK_billede1" src="/forside1.webP" alt="spendingkills pakke" />
    </div>
    <img class="SK_billede2" src="/sk2.webP" alt="spendingkills pakke" />
  </div>

  <h4 class="galleri_tekst">Flere billeder fra kampagnen</h4>
  <ul class="carousel-list">
    <li>
      <img src="/karrusel1.webP" alt="karrusel1" />
    </li>
    <li>
      <img src="/karrusel2.webP" alt="karrusel2" />
    </li>
    <li>
      <img src="/karrusel3.webP" alt="karrusel3" />
    </li>
    <li>
      <img src="/karrusel4.webP" alt="karrusel4" />
    </li>
    <li>
      <img src="/karrusel5.webP" alt="karrusel5" />
    </li>
  </ul>
</PageLayout>
