---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <h1><b>Spending Kills</b></h1>
  <h1>En kampagne mod overforbrug</h1>
  <p>Spending kills er Dankorts kampagne, der sætter fokus på forbrugsvaner blandt unge og studerende. Inspireret af advarsler fra anti-rygekampagner bruger vi mærkater på pakker til at skabe et øjebliks refleksion i købsøjeblikket og åbne for en samtale om valg, prioriteringer og økonomisk bevidsthed.</p>
</PageLayout>
