/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  max-width: 50ch;
  margin: 0 auto;
}

/* FORSIDEN */
.billede_card {
  position: relative;
  display: inline-block;
}

.billede_card img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_content {
  position: absolute;
  bottom: 6%;
  left: 46%;

  display: flex;
  align-items: center;
}

.video_card {
  position: relative;
  display: inline-block;
}

.video_card video {
  display: block;
  width: 89%;
  height: auto;
  margin: 20px;
  margin-top: 65px;
  pointer-events: none;
}

.overlay_video {
  position: absolute;
  bottom: 60%;
  left: 6%;
  display: flex;
  align-items: center;
}

.overlay_button {
  position: absolute;
  bottom: 11%;
  left: 52%;
  display: flex;
  align-items: center;
}

.tertiary img {
  width: 20px; /* sæt fast størrelse på pilen */
  height: 20px;
}

.overlay_video h4 {
  font-size: 20px;
  max-width: 15ch; /* max 20 tegn per linje */
  line-height: 1.2;
  word-wrap: break-word;
}

/* SPENDING KILLS SIDEN */

.yellow {
  background-color: #ffd998;
  padding: 20px;
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.SK_billede1 {
  width: 83%;
  margin: 0 auto;
  margin-top: 20px;
}
.SK_billede2 {
  display: none;
  margin: 0 auto;
}

.SK_intro {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 30px;
}

.grid_3-5 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 0 20px;
}

.carousel-list {
  width: 85vw;
  height: 330px;
  padding: 20px;
  display: flex;
  gap: 4vw;
  margin: 0 auto;
}

.carousel-list li {
  list-style-type: none;
  height: 100px;
  padding: 20px;
  border-radius: 30px;
  flex: 0 0 70%;
}

.carousel-list {
  width: 90vw;
  height: 220px;
  padding: 20px;
  display: flex;
  gap: 4vw;
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: transform 0.3s ease;
}

.carousel-list:hover {
  transform: translateX(-20px);
}

.carousel-list li {
  scroll-snap-align: center;
}

.galleri_tekst {
  margin-left: 30px;
  margin-top: 30px;
}
/* AOMØDESIDE */
.video_card2 {
  position: relative;
  display: inline-block;
}

.video_card2 video {
  display: block;
  width: 89%;
  height: auto;
  margin: 20px;
  margin-top: 65px;
  pointer-events: none;
}

.overlay_video2 {
  position: absolute;
  bottom: 77%;
  left: 14%;
  display: flex;
  align-items: center;
}

/* OM OS SIDEN */
.oo_billede {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 460px;
  margin-top: 50px;
}

.oo_h1 {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}

.oo_p1 {
  margin-top: 10px;
}

.oo_p2 {
  margin-top: 10px;
}

@media (min-width: 750px) {
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 400;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 800;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 700;
  }

  /* SPENDING KILLS SIDEN */
  .SK_billede2 {
    display: block;
  }

  .grid_3-5 {
    grid-template-columns: minmax(320px, 1fr) minmax(0, 1.4fr); /*VI SKAL HUSKE DETTE FOR AT GØRE DET RESPONSIVT*/
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: clamp(24px, 4vw, 56px); /*Afstand der vokser med skærmbredde, også HUSK*/
  }
  .SK_billede2 {
    width: 100%;
    max-width: 650px;
    display: block;
  }

  .SK_intro {
    margin-left: 120px;
    margin-bottom: 55px;
    margin-top: 80px;
  }

  .galleri_tekst {
    margin-left: 120px;

    margin-top: 80px;
  }

  .carousel-list {
    width: 75vw;
    height: 600px;
    padding: 20px;
    display: flex;
    gap: 4vw;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: transform 0.3s ease;
  }

  .carousel-list:hover {
    transform: translateX(-30px);
  }

  .carousel-list li {
    list-style-type: none;
    height: 500px;
    padding: 20px;
    border-radius: 30px;
    scroll-snap-align: center;
  }

  .carousel-list li img {
    margin: 0 auto;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .overlay_video h4 {
    margin-top: -270px;
    font-size: 45px;
    max-width: 15ch;
    line-height: 1.2;
    word-wrap: break-word;
  }
}

/* OM OS SIDEN */
.oo_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.oo_h1 {
  margin-top: 200px;
  margin-left: 0;
}

.oo_billede {
  width: 470px;
  height: 470px;
  object-fit: cover;
  margin-left: 150px;
  margin-top: 120px;
  margin-right: 120px;
}

.oo_p1 {
  margin-left: 0;
  max-width: 500px;
  margin-bottom: 30px;
  margin-right: 150px;
}

.oo_p2 {
  margin-left: 0;
  max-width: 500px;
  margin-right: 150px;
}
