/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  max-width: 50ch;
  margin: 0 auto;
}

.yellow {
  background-color: #ffd998;
  padding: 20px;
  border-radius: 30px;
}

.SK_billede1 {
  width: 88%;
  margin: 0 auto;
  margin-top: 20px;
}

.SK_intro {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

@media (min-width: 750px) {
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 400;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 800;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 700;
  }
}
