/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  max-width: 50ch;
  margin: 0 auto;
}

/* SPENDING KILLS SIDEN */

.yellow {
  background-color: #ffd998;
  padding: 20px;
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.SK_billede1 {
  width: 83%;
  margin: 0 auto;
  margin-top: 20px;
}
.SK_billede2 {
  display: none;
  margin: 0 auto;
}

.SK_intro {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

@media (min-width: 750px) {
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 400;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 800;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 700;
  }

  /* SPENDING KILLS SIDEN */
  .SK_billede2 {
    display: block;
  }

  .grid_3-5 {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 0;
    margin-left: 120px;
    margin-right: 120px;
  }
  .SK_billede2 {
    width: 100%;
    max-width: 650px;
    display: block;
  }

  .SK_intro {
    margin-left: 120px;
    margin-bottom: 55px;
    margin-top: 80px;
  }
}
