---
const { variant = "primary" } = Astro.props;
---

<button class={variant}>
  {(<slot />)}
</button>

<style>
  button {
    background-color: transparent;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
  }

  .primary {
    background-color: #e21e27;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    border: #e21e27;
  }

  .secondary {
    cursor: pointer;
    padding: 2px;
    display: inline-flex;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: white;
  }

  .tertiary {
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    border: #ebebeb;
    padding: 7px;
    display: inline-flex;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
  }
</style>
