---
import Button from "../components/Button.astro";
const { variant, data } = Astro.props;
---

<article class={variant}>
  <h3><b>Type {data.type}</b></h3>
  <div class="flex_knap">
    <p>Jeg køber {data.stk} stykker tøj om måneden</p>

    <a href={`/dit_forbrug/${data.slug}`}>
      <Button variant="secondary">
        <img src="/button-pil.svg" alt="" />
      </Button>
    </a>
  </div>
</article>

<style>
  .type-knap {
    background-color: #ffd998;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
  }

  @media (min-width: 750px) {
    .type-knap {
      margin-left: -30px;
    }
  }
</style>
