---
import Button from "../components/Button.astro";
const { variant, data } = Astro.props;
---

<article class={variant} >
  <h3><b>Type {data.type}</b></h3>
  <div class="flex_knap">
  <p>Jeg køber {data.stk} stykker tøj om måneden</p>
  <a href=`/dit_forbrug/${data.slug}`><Button variant="secondary"><img src="/button-pil.svg" alt="" /></Button>
    </div>
</a>
</article>


<style>
.type-knap{
background-color: #FFD998;
border-radius: 30px;
margin: 20px;
padding: 20px;
}

</style>





