---
const { variant, number, text } = Astro.props;
---

<article class={`${variant} ${Astro.props.class || ""}`}>
  <p>{number}</p>
  <p>{text}</p>
</article>

<style>
  article {
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
    aspect-ratio: 1 / 1;
  }

  article p:first-child {
    margin-bottom: 10px;
  }

  article p:last-child {
    line-height: 1.3;
  }

  .card-red {
    background-color: #e51e27;
  }

  .card-yellow {
    background-color: #ffd998;
  }

  .card-img {
    background-image: url("/symaskine.webP");

    color: white;
  }

  .card-blue {
    background-color: #3ab8ea;
  }
</style>
