<footer>
  <div class="footer-box_grey">
    <div class="footer-col">
      <h3>Dankort</h3>
      <div class="kampagner">
        <img src="/public/pil.svg" alt="" />
        <h3>om os</h3>
      </div>
    </div>
    <div class="footer-col">
      <h3>Kampagner</h3>
      <div class="kampagner">
        <img src="/public/pil.svg" alt="" />
        <h3>kampagne 1</h3>
      </div>
      <div class="kampagner">
        <img src="/public/pil.svg" alt="" />
        <h3>kampagne 2</h3>
      </div>
    </div>
  </div>

  <div class="footer-box_red">
    <img src="/public/logo.svg" alt="" />
    <h4>Når vi handler sammen</h4>
  </div>
</footer>

<style>
  .footer-box_grey {
    background: #ebebeb;
    border-radius: 30px;
    margin: 10px;
  }

  .footer-col {
    display: grid;
    grid-template-columns: 1fr;
  }
  .kampagner {
    display: flex;
  }

  .kampagner img {
    width: 12px;
    height: auto;
  }
  .footer-box_red {
    background: #e21e27;
    border-radius: 30px;
    margin: 10px;
  }

  .footer-box_red img {
    width: 50px;
    height: auto;
  }
</style>
